.broadband_landing {
	background-color: $bg-lgrey;
	position: relative;
	z-index: 1;

	.banner {

		h1 {
			width: 300px;
		}

		.slide {
			height: 452px;

			a.cta_banner {
				width: 140px;
				height: 140px;
				text-decoration: none;
				background-color: $bg-purple;
				border-radius: 50%;
				display: table;
				float: left;
				margin: 164px 0 0 8px;

				span {
					font-family: Comfortaa,cursive;
					font-size: 21px;
					line-height: 24px;
					font-weight: 400;
					color: #FFF;
					vertical-align: middle;
					padding: 0 25%;
					text-align: center;
					text-decoration: none;
					display: table-cell;
				}
			}

			&.slide1 {
				@include image('../../img/green_phone_mob', '.jpg', auto, 452px);
			}
		}
	}

	.banner + .container {
		@include clearfix();
		width: auto;

		h3 {
			font-size: 24px;
			line-height: 29px;
			padding: 39px 0 20px;
		}
	}

	.carousel {
		display: none;
	}

	.testing {
	  @include span(12);
	}

	.testing2 {
	  @include span(2);
	  margin-left: span(4);
	}

	.testing3 
	{  @include span(2);
	  margin-left: span(6);
	}

	.col {
		@include span(1);
		background-color: cyan;
		height: 100%;

		&.last {
			@include span(1 of 12);
		}
	}

	.large_feature, .triple_feature {
		width: 100%;
		float: left;
	}

	p.sub {
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		padding-bottom: 25px;
	}

	.triple_feature {
		background-color: $white;
		border-bottom: 4px dotted $bg-lgrey;
    	border-bottom-style: dotted;
    	padding: 25px 0;
    	text-align: center;
    	box-sizing: border-box;
	}

	.feature_row {
		background-color: $bg-lgrey;
		overflow: hidden;
		padding-top: 15px;
	}

	.featurebox {
		background-color: $white;
		margin: 25px 0 0 0;
		
		.image_wrap {
			width: 100%;
			height: 198px;
			overflow: hidden;
			position: relative;

			img {
				width: 100%;
				height: auto;
				margin-left: -50%;
				position: relative;
				top: 50%;
				left: 50%;
				transform: translateY(-50%);
			}
		}

		.text {
			font-family: $head-font;
			font-size: 27px;
			line-height: 38px;
			font-weight: 700;
			color: $grey-dark;
			padding: 22px 20px 33px;
			

			a {	
				padding-top: 13px;
				display: block;
			}

		}
	}

	

	.testimonials_wrap {
		background-color: $white;
		padding: 60px 0 39px;

		h3 {

		}


		.testimonial {
			text-align: center;

			img {
				width: 100px;
				margin: 0px auto;
    			border-radius: 50%;
			}

			p {
				text-align: center;
				font-size: 20px;
				padding: 26px 0 19px;
				color: $grey-quote;

				&.customer_name_location {
					font-size: 12px;
    				line-height: 21px;
    				font-weight: 700;
    				font-family: Muli;
    				padding: 0;
				}
			}

		}
	}

	.help_grid {
		@include clearfix();
		background-color: $white;
		overflow: hidden;
		padding: 9px 0 44px;

		h3 {
			padding-bottom: 4px;
		}

		.help_row {
			overflow: hidden;
			background: $white;
			margin: 20px 0;

			@media #{$tablet} {
				display: inline;
			}
		}
	}

	

	.help_box {
		box-sizing: border-box;
		background-color: $bg-lgrey;
		margin-bottom: -99999px;
	  	padding: 19px 2.5% 99999px;

	  	.title {
	  		font-size: 21px;
	  		font-weight: 700;
	  		color: $grey-dark;
    		padding: 7px 0 30px;
	  	}

	  	p { display: none; }

		&.support, &.contact {
			float: left;
	    	width: 50%;
	    	border-left: 0;
	    	border-right: 10px solid $white;
	    	text-align: center;
		}

		&.chat, &.store {
			float: right;
			@include clearfix();
			width: 50%;
			border-right: 0;
			border-left: 10px solid $white;
	    	text-align: center;
		}
	}




	section.section1 {
		
	}

	section.section2 {
		.container {
			background-color: $bg-lgrey;
			text-align: center;

			p {
				font-size: 20px;
				line-height: 24px;
				color: $grey-dark;
			}
		}
	}

	.container {
		background: $bg-lgrey;
	}

	.no_grid {
		@include bleed-x(10px);

		@media #{$tablet} {
			padding: 0;
			margin: 0 auto;
			overflow: hidden;
		}
		
	}

	.clear {
		@include clearfix();

		&.container {
			width: auto;
		}
	}
























	@media #{$tablet} {
		background-color: $white;

		.banner {

			> .slide {
				display: none;
			}

			h1 {
				padding: 50px 25px;
				font-size: 41px;
				line-height: 46px;
				font-weight: 400;
				width: 540px;
			}

			.carousel {
				display: block;

				.slide { 
					height: 400px;
					background-color: $bg-dgrey;

					a.cta_banner {
						margin: 81px 0 0 11px;
					}
				}

				.slide1 {
					@include image('../../img/green_phone_desk', '.jpg', auto, 400px);
				}	

				.slide2 {
					@include image('../../img/earth_desk', '.jpg', auto, 400px);
				}
			}
		}

		.triple_feature {
			width: percentage(370/1120);

			&.feature3 {
				width: percentage(380/1120);
			}
		}

		

		

		.large_feature {
			width: 50%;
			margin-bottom: -99999px;
	  		padding-bottom: 99999px;

			&.left {
				float: left;
			}

			&.right {
				float: right;
			}
		}

		.featurebox {
			margin-bottom: -99999px;
			padding-bottom: 99999px;

			.image_wrap {
				height: 238px;

				img {
					width: 380px;
					margin-left: -190px;
				}
			}

			.text {
				padding-bottom: 43px;

				span {
					display: inline-block;
					min-height: 109px;
				}
			}

			@include span(4);
		}

		

		.testimonials_wrap {
			padding: 33px 0 31px;

			h3 { padding-bottom: 43px; }

			.testimonial {
				padding: 0px 37px;
			}
		}

		.help_grid {
			padding: 31px 0 59px;
			position: relative;

			h3 {
				padding-bottom: 53px;
			}
		}

		.help_box {
			&.support, &.contact, &.chat, &.store {
				border: 0;
				@include span(3);
				@include gutters(10px inside);
			}

		}

		.pad_after {
			position: relative;

			&:before {
				content: "";
				background-color: $white;
				width: 100%;
				height: 59px;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 10;
			}
		}

	}














	@media #{$large-desktop} {

		.help_box {

		  	.title {
		  		padding: 7px 0 0px;
		  		line-height: 21px;
		  		min-height: 44px;
		  	}

		  	p {
		  		display: inline-block;
		  		font-size: 20px;
			    line-height: 27px;
			    color: #grey-dark;
			    text-align: center;
			    padding: 0px 0 31px;
		  	}	
	 
		}

	}


}

