// Rules to overwrite the native flexslider styles (located in flexslider.css)

.flexslider {
	background-color: $bg-lgrey;
	margin: 0;
	border: 0;
}	

.flex-control-nav {
	bottom: 27px;
}

.flex-control-paging li {
    margin: 0 0.47em;

    a {
    	width: 10px;
    	height: 10px;
    	background-color: $nav-inactive;
    	box-shadow: 0 0 0 transparent;
    	
    	&.flex-active, &:hover {
    		background-color: $nav-link;
    	}
    }
}


