/* Visibility queries */

.mobile 			{ display: inline-block; }
.mobile-tablet 		{ display: inline-block; }
.tablet 			{ display: none; }
.tablet-desktop 	{ display: none; }
.desktop 			{ display: none; }



@media #{$tablet} {
	/* Visibility queries */

	.mobile 			{ display: none; }
	.mobile-tablet 		{ display: inline-block; }
	.tablet 			{ display: inline-block; }
	.tablet-desktop 	{ display: inline-block; }
	.desktop 			{ display: none; }
}


@media #{$desktop} {
	/* Visibility queries */

	.mobile 			{ display: none; }
	.mobile-tablet 		{ display: none; }
	.tablet 			{ display: none; }
	.tablet-desktop 	{ display: inline-block; }
	.desktop 	 		{ display: inline-block; }
}