/* Colours */
$white: 		#FFFFFF;
$black: 		#000000;
$link: 			#317FE3;
$nav-link: 		#00B5D5;
$grey-med: 		#54585B;
$grey-dark : 	#26252A;
$grey-light: 	#676769;
$grey-vlight: 	#818284;
$grey-quote: 	#68686a;

$bg-white: 		$white;
$bg-dgrey: 		$grey-dark;
$bg-purple: 	#8C00EF;
$bg-lgrey: 		#ECECEC;
$bg-blue: 		$nav-link;  //Also subnav link



$regular-font:  'Glacial Indifference', Arial, sans-serif;
$normal-font: 	$regular-font;
$base-font: 	$regular-font;
$alt-font:  	'Muli', serif;
$head-font:		'Comfortaa', cursive;